NODE_ENV = development
PORT = 3000
DB_HOST = localhost
DB_PORT = 5432
DB_USER = postgress
BD_PASSWORD = 1404
DB_NAME = hms

JWT_PRIVATE_KEY_PATH=./keys/access-token-private.pem
JWT_PUBLIC_KEY_PATH=./keys/access-token-public.pem
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=15d
JWT_ISSUER=hms-api
JWT_AUDIENCE=hms-api